@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps:wght@400;700&family=Poppins:wght@400;600;800&display=swap');
/*/////////////
Table of contents
1. Global Styles
2. Typography
3. Area's
3.1. Puppy image
 */


/* -------------------1. Global Styles --------------------------*/
/* Colors/*
#B36A5E (tekst- en randkleur), #EED7C5 (badge-kleur)
 */
article{
    display: inline-block;
    color: #B36A5E;
    padding: 32px;
    background-color: #EED7C5;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.15);
    border-radius: 2%;
}
.image-milo{
    border-style: solid;
    border-width: 8px;
    border-color: #B36A5E;
    border-radius: 50%;
    width: 300px;
    margin-bottom: 10px;
}

/* ------------------ Typography ------------------*/

h2{
    font-family: 'Oleo Script Swash Caps', cursive;
    margin: 0px;
    text-align: center;

}